<!DOCTYPE html>
<html lang="en" xmlns:th="https//www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<table class="table table-striped">
    <tr>
        <th>Name</th>
        <td th:text="${chore.name}"></td>
    </tr>
    <tr>
        <th>Description</th>
        <td th:text="${chore.choreDescription}"></td>
    </tr>
    <tr>
        <th>Assigned</th>
<!--        <td th:text="${chore.childAssigned}"></td>-->
    </tr>
    <tr>
        <th>Due Day</th>
        <td th:text="${chore.dueDay}"></td>
    </tr>
    <tr>
        <th>Reward Points</th>
        <td th:text="${chore.rewardPoints}"></td>
    </tr>
</table>

</body>
</html>