<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<header th:replace="fragments :: header"></header>

<main class="container">
  
   <table class="table table-striped">
      <tr>
          <th>Name</th>
          <td th:text="${chore.name}"></td>
      </tr>
      <tr>
          <th>Description</th>
          <td th:text="${chore.choreDescription}"></td>
      </tr>
      <tr>
          <th>Assigned</th>
          <td th:text="${chore.childAssigned.firstName}"></td>
      </tr>
      <tr>
          <th>Date</th>
          <td th:text="${#temporals.format(chore.dueDate, 'yyyy-MM-dd')}"></td>
      </tr>
      <tr>
          <th>Reward Points</th>
          <td th:text="${chore.rewardPoints}"></td>
      </tr>
      <!--tr>
          <th>Due Day</th>
          <td th:text="${chore.dueDay}"></td>
      </tr-->
  </table>

  <!-- Mark as Complete Form -->
  <form th:action="@{/chores/complete}" method="get">
      <input type="hidden" name="choreId" th:value="${chore.id}" />
      <button type="submit" class="btn btn-primary">Mark as Complete</button>
  </form>

  <!-- Approve Chore Form -->
  <form th:action="@{/chores/approve}" method="post">
      <input type="hidden" name="choreId" th:value="${chore.id}" />
      <button type="submit" class="btn btn-success">Approve</button>
  </form>

  <form th:action="@{/chores/comment}" method="post">
      <input type="hidden" name="choreId" th:value="${chore.id}" />
      <button type="submit" class="btn btn-success">Add Comment</button>
  </form>
  <div th:each="comment : ${chore.comments}">
      <tr>
          <th>Comment</th>
          <th>Created By</th>
          <th>Date</th>
      </tr>
  </div>


</main>

<footer th:replace="fragments :: footer"></footer>

</body>
</html>
