<!DOCTYPE html>
<html lang="en" xmlns:th="https//www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<header th:replace="fragments :: header"></header>
<table class="table table-striped">
    <tr>
        <th>Name</th>
        <td th:text="${chore.name}"></td>
    </tr>
    <tr>
        <th>Description</th>
        <td th:text="${chore.choreDescription}"></td>
    </tr>
    <tr>
        <th>Assigned</th>
        <td th:text="${chore.childAssigned}"></td>
    </tr>
    <tr>
        <th>Date</th>
        <td th:text="${chore.dueDate}"></td>
    </tr>
    <tr>
        <th>Reward Points</th>
        <td th:text="${chore.rewardPoints}"></td>
    </tr>

    <tr>
        <th>Due Day</th>
        <td th:text="${chore.dueDay}"></td>
    </tr>
</table>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>