<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<header th:replace="fragments :: header"></header>

<img src="/images/chore-header.jpg" width="100%">

<main class="container">

    <h1 th:unless="${childUser}" th:text="${'title'}"></h1>
    <p th:unless="${chores} and ${chores.size()}">No Tasks!</p>

    <th:block th:unless="${childUser}">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Task</th>
                <th>Description</th>
                <th>Assigned to:</th>
                <th>Due Date</th>
                <th>Point Value</th>
                <th>Status</th>
            </tr>
            </thead>
            <tr th:each="chore : ${chores}">
                <td> <a th:href="'/chores/detail?choreId=' + ${chore.id}" th:text="${chore.name}"></a></td>
                <td th:text="${chore.choreDescription}"></td>
                <td th:if="${chore.childAssigned}" th:text="${chore.childAssigned.firstName}"></td>
                <td th:unless="${chore.childAssigned}">None</td>
                <td th:text="${#temporals.format(chore.dueDate, 'MM-dd-yyyy')}"></td>
                <td th:text="${chore.rewardPoints}"></td>
                <td th:if="${chore.isCompleted and chore.isApprovedByParent}"><span class="text-success">Approved</span></td>
                <td th:if="${chore.isCompleted and !chore.isApprovedByParent}"><span class="text-warning">Pending Approval</span></td>
                <td th:if="${!chore.isCompleted and !chore.isApprovedByParent}">
                    <span th:if="${!chore.isCompleted and chore.dueDate < today}" class="text-danger">Overdue</span>
                    <span th:if="${!chore.isCompleted and chore.dueDate > today}" class="primary">Incomplete</span>
                </td>
            </tr>
        </table>
          <a class="btn btn-outline-dark" href="/chores/create" role="button">Create a Task</a>
    </th:block>

    <th:block th:if="${childUser}">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Task</th>
                <th>Description</th>
                <th>Due Date</th>
                <th>Point Value</th>
                <th>Supplies</th>
                <th>Completed</th>
            </tr>
            </thead>
            <tr th:each="chore : ${chores}">
                <td> <a th:href="'/chores/detail?choreId=' + ${chore.id}" th:text="${chore.name}"></a></td>
                <td th:text="${chore.choreDescription}"></td>
                <td th:text="${#temporals.format(chore.dueDate, 'yyyy-MM-dd')}"></td>
                <td th:text="${chore.rewardPoints}"></td>
                <td th:text="${chore.supplies}"></td>
            </tr>
        </table>
    </th:block>

</main>

<footer th:replace="fragments :: footer"></footer>

</body>
</html>

