<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<header th:replace="fragments :: header"></header>

<img src="/images/treasure-header.jpg" width="100%">

<main class="container">

  <h1 class="text-center">Edit the Treasure Trove</h1>

  <form th:action="@{/rewards/edit}" method="post">
    <input type="hidden" name="rewardId" th:value="${reward.id}" />
    <div class="form-group">
      <label for="categorySelect">Choose a Reward Category:</label>
        <select class="form-control" id="categorySelect" name="category">
          <option value="activity">Activity</option>
          <option value="toy">Toy</option>
          <option value="treat">Treat</option>
          <option value="screen-time">Screen Time</option>
          <option value="money">Money</option>
        </select>
    </div>
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" th:value="${reward.name}" th:field="${reward.name}" class="form-control" required />
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <textarea id="description" name="description" class="form-control" required th:text="${reward.description}" th:field="${reward.description}"></textarea>
    </div>
    <div class="form-group">
      <label for="points">Point Value:</label>
      <input type="number" id="points" name="points" th:value="${reward.points}" th:field="${reward.points}" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">Save Changes</button>
    <a th:href="@{/rewards}" class="btn btn-secondary">Cancel</a>
  </form>

</main>

<footer th:replace="fragments :: footer"></footer>

</body>
</html>