body {
  font-family: 'IM Fell English SC', serif !important;
}

.bg-img {
    background-image: url('/images/treasureTask-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vmax;
    overflow: visible;
    width: 100%;
}

.scroll-img {
    background-image: url(/images/scroll-bg.png);
    background-size: contain;
    height: 80vmin;
    width: 550px;
    max-width: 90%;
    background-repeat: no-repeat;
    overflow: visible;
    align-items: top;
    justify-content: center;
    display: flex !important;
    padding-top: 5rem;
}

.hp-about {
    width: 550px;
    max-width: 65%;
    text-align: center;
    margin-right: 4rem;
    margin-left: auto;
    padding-left: 1rem;
    padding-right: 1.3rem;
    margin-bottom: 2rem;
}

.error {
  color: red;
}

.form-signin {
  max-width: 400px;
  padding: 1rem;
  background-color: #ffffff94;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

p {
    font-family: 'IM Fell English SC', serif !important;
}

@media (min-width: 1024px) {
  p {
    font-size: calc(16px + 10%);
  }
}

@media (max-width: 600px) {
  p {
    font-size: calc(14px);
  }
  .hp-about {
    padding-right: 0 !important;
  }
  .scroll-img {
    padding-top: 2rem;
  }
}

a.nav-link {
    font-family: 'Pirata One', cursive;
    color: white;
    font-size: xx-large;
}

a.nav-link:hover {
    color: grey;
}

.form-control-dark {
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle:not(:focus) {
  outline: 0;
}

header {
    background-color: #2B2D2F;
}

footer {
    background-color: #2B2D2F;
}

.register-btn {
    color: #2B2D2F;
    background-color: white;
    border-color: white;
    font-size: x-large;
    font-family: "Pirata One", cursive;
}

.register-btn:hover {
    color: #2B2D2F;
    background-color: grey;
    border-color: grey;
}

.register-btn:active {
    color: #2B2D2F !important;
    background-color: grey !important;
    border-color: grey !important;
}

.login-btn {
    color: white;
    border-color: white;
    font-size: x-large;
    font-family: "Pirata One", cursive;
}

.login-btn:hover {
    color: #2B2D2F;
    border-color: #2B2D2F;
    background-color: white;
}

.login-btn:active {
    color: #2B2D2F !important;
    border-color: #2B2D2F !important;
    background-color: white !important;
}

/* child dashboard */
.points{
    color: 	#FFFFFF;
}

<style th:inline="text">

  /* Style for the Welcome message */
  h1 {
      font-size: 24px;
      font-weight: bold;
      text-align: left;
      margin: 20px 0;
      color:white;
  }

  h1 span {

  }

    /* Styling for the points display section */
    /* Style for the Points Display */
   h2 {
       font-size: 22px;
       font-weight: bold;
       text-align: center;
       margin-bottom: 10px;

   }

   h2 span {

   }

    /* redeem reward button */
    .reward-button {
      text-align: right;
      margin: 20px auto;
    }


    .reward-button {
        text-align: center;
        margin-bottom: 20px;
    }

    .reward-button a {
        display: inline-block;
        padding: 10px 20px;
        background-color: #3498db;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        cursor: pointer;
    }


/*  calendar buttons */
#calendar {
  text-align: center;
  margin-top: 20px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  margin: 0 auto;
}

.day {
  background-color: lightblue;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* Style for the Chores table */
#selectedDay{
    color: #7CFC00;
}


table#choresTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

#choresTable th,
#choresTable td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

#choresTable th {
  background-color: #f2f2f2;
}

#choresTable tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

#choresTable tbody tr:hover {
  background-color: #f5f5f5;
}

/* Style for the Earned Rewards table */
table#earnedRewardsTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

#earnedRewardsTable th,
#earnedRewardsTable td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

#earnedRewardsTable th {
  background-color: #f2f2f2;
}

#earnedRewardsTable tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

#earnedRewardsTable tbody tr:hover {
  background-color: #f5f5f5;
}
