body {
  font-family: 'IM Fell English SC', serif !important;
}

main {
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.bg-img {
    background-image: url('/images/treasureTask-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vmax;
    overflow: visible;
    width: 100%;
}

.scroll-img {
    background-image: url(/images/scroll-bg.png);
    background-size: contain;
    height: 80vmin;
    width: 550px;
    max-width: 90%;
    background-repeat: no-repeat;
    overflow: visible;
    align-items: top;
    justify-content: center;
    display: flex !important;
    padding-top: 5rem;
}

.hp-about {
    width: 550px;
    max-width: 65%;
    text-align: center;
    margin-right: 4rem;
    margin-left: auto;
    padding-left: 1rem;
    padding-right: 1.3rem;
    margin-bottom: 2rem;
}

.error {
  color: red;
}

.form-signin {
  max-width: 400px;
  padding: 1rem;
  background-color: #ffffff94;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

p {
    font-family: 'IM Fell English SC', serif !important;
}

@media (min-width: 1024px) {
  p {
    font-size: calc(16px + 10%);
  }
}

@media (max-width: 600px) {
  p {
    font-size: calc(14px);
  }
  .hp-about {
    padding-right: 0 !important;
  }
  .scroll-img {
    padding-top: 2rem;
  }
}

a.nav-link {
    font-family: 'Pirata One', cursive;
    color: white;
    font-size: xx-large;
}

a.nav-link:hover {
    color: grey;
}

.form-control-dark {
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle:not(:focus) {
  outline: 0;
}

header {
    background-color: #2B2D2F;
}

footer {
    background-color: #2B2D2F;
    position: sticky;
}

.register-btn {
    color: #2B2D2F;
    background-color: white;
    border-color: white;
    font-size: x-large;
    font-family: "Pirata One", cursive;
}

.register-btn:hover {
    color: #2B2D2F;
    background-color: grey;
    border-color: grey;
}

.register-btn:active {
    color: #2B2D2F !important;
    background-color: grey !important;
    border-color: grey !important;
}

.login-btn {
    color: white;
    border-color: white;
    font-size: x-large;
    font-family: "Pirata One", cursive;
}

.login-btn:hover {
    color: #2B2D2F;
    border-color: #2B2D2F;
    background-color: white;
}

.login-btn:active {
    color: #2B2D2F !important;
    border-color: #2B2D2F !important;
    background-color: white !important;
}