<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<form method="post" action="/crew/add">
    <div class="form-group">
        <label>First Name:
            <input th:field="${child.fistName}" class="form-control">
        </label>
        <p class="error" th:errors="${child.fistName}"></p>
    </div>
    <div class="form-group">
        <label>Last Name:
            <input th:field="${child.lastName}" class="form-control">
        </label>
        <p class="error" th:errors="${child.lastName}"></p>
    </div>
    <div class="form-group">
        <input type="submit" value="Add Crew Member" class="btn btn-success">
    </div>
</form>

</body>
</html>