<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<header th:replace="fragments :: header"></header>

<!--<img src="/images/treasure-header.jpg" width="100%">-->

<main class="container">

    <h1 class="text-center">Edit Crew Member</h1>

    <form th:action="@{/crew/edit}" method="post">
        <input type="hidden" name="childId" th:value="${child.id}" />
        <div class="form-group">
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName" th:value="${child.firstName}" th:field="${child.firstName}" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="lastName">First Name:</label>
            <input type="text" id="lastName" name="lastName" th:value="${child.lastName}" th:field="${child.lastName}" class="form-control" required />
        </div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
        <a th:href="@{/rewards}" class="btn btn-secondary">Cancel</a>
    </form>

</main>

<footer th:replace="fragments :: footer"></footer>

</body>
</html>