<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<header th:replace="fragments :: header"></header>

<main class="container">

    <h1 class="text-center">Crew Members</h1>

    <p th:unless="${crew} and ${crew.size()}">No crew members!</p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Tasks Assigned</th>
            <th>Points Earned</th>
        </tr>
        </thead>
        <tr th:each="child : ${crew}">
            <td><a th:href="'crew/edit?childId=' + ${child.id}" th:text="${child.firstName}"></a></td>

            <td><a th:href="'chores?childId=' + ${child.id}" th:text="${child.getActiveChores()}"></a></td>
            <td th:text="${child.points}"></td>
            </div>
        </tr>
    </table>



    <h2 class="text-center">Add Crew Members</h2>

    <p>Add a crew member below.</p>
    <form method="post" action="/crew/create">
        <div class="form-group">
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName" class="form-control" required />
        </div>
        <div class="form-group">
            <input type="submit" value="Add Crew Member" class="btn btn-success">
        </div>
    </form>

    <p>Want your crew member to have an account instead? Click the button below:</p>
    <a class="btn btn-outline-dark" href="/crew/add" role="button">Add a new Crew Member with an Account</a>
  
</main>

<footer th:replace="fragments :: footer"></footer>

</body>
</html>