.card-ab {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #FFFFFF;
    border: 5px solid #FFFFFF; /* Add a border */
    transition: transform 0.3s, box-shadow 0.3s;
    height: 600px; /* Adjust this height as needed */
    overflow: hidden; /* Ensure that the overflow content doesn't affect the shadow */
    position: relative;
    margin-top: 20px;
    width: 400px;
}

.card-ab img {
    max-height: 350px; /* Adjust this height as needed */
    width: 100%;
    object-fit: cover;
}

.card-ab:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
}

.card-ab h3 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.card-link-container-ab {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.container-ab h2 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px

}

.about-us-header {
    font-size: 75px;
    font-weight: bold;
    text-align: center;
 }

.author-title{
   font-size: 30px;
   text-align: center;
}


