<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>

<h1>About Us</h1>
<p>
    Treasure Task was an app created to help parents assign their children chores! This app allows parents to create chores and assign them to their children.  Parents can also assign point values to each chore which can then be used by the children to access rewards as they earn them or set goals for future rewards! Our ultimate goal was to create an app that helped parents delegate household duties as well as instill a sense of purpose and responsibilities in their children. Try it out!
</p>