<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title>Child Dashboard</title>

</head>
<body class="dashboard">

<header th:unless="${childUser}" th:replace="fragments :: header"></header>


<!--<header th:if="${childUser}" th:replace="dashfragment :: header"></header>-->

<main class="container" th:if="${childUser}">
<!-- Display Selected Avatar -->
<div class="mwanzo">
    <img id="selectedAvatar" src="images/avatar1.png" alt="Selected Avatar" width="150" height="150">

        <select id="avatarSelect" onchange="changeAvatar()">
            <option value="images/avatar1.png">Avatar 1</option>
            <option value="images/avatar2.png">Avatar 2</option>
            <option value="images/avatar3.png">Avatar 3</option>

        </select>

            `
    <h3>Welcome, <span th:text="${child.firstName}"></span>!
    </h3>


</div>




<!-- Calendar -->

<!-- Chores table -->
    <div class="date-picker">
        <h3>Find Tasks:</h3>
        <form th:action="@{/dashboard}" method="get">
            <input type="date" id="selectedDueDate" name="dueDate" onchange="showDayOfWeek(this.value)">
            <input type="text" id="selectedChoreName" name="choreName" placeholder="Task Name">
            <button type="submit">Show Tasks</button>
        </form>

        <!--ul>
            <li th:each="chore : ${chores}" th:text="${chore.name}"></li>
        </ul-->

    </div>



    <!-- Chores and Rewards -->

<h2>Tasks <span th:text="${dayOfWeekMessage}"></span>:</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Due Date</th>
        <th>Reward Points</th>
        <th>Complete</th>
    </tr>
    </thead>
    <tr th:each="chore : ${chores}">
        <td th:text="${chore.name}"></td>
        <td th:text="${chore.choreDescription}"></td>
        <td th:text="${#temporals.format(chore.dueDate, 'yyyy-MM-dd')}"></td>
        <td th:text="${chore.rewardPoints}"></td>
        <td>
            <a th:href="@{/chores/complete(choreId=${chore.id},completed=true)}"
               class="btn btn-primary"
               th:if="${not chore.completed}">Mark as Complete</a>
            <span th:if="${chore.completed}" class="text-success">Completed</span>
        </td>
    </tr>
</table>

<h2>Earned Rewards</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Reward Points</th>
    </tr>
    </thead>
    <tr th:each="reward : ${earnedRewards}">
        <td th:text="${reward.name}"></td>
        <td th:text="${reward.description}"></td>
        <td th:text="${reward.points}"></td>
    </tr>
</table>

<!--Avatar script-->
    <script>
    window.onload = function () {
        // default image when the page loads
        document.getElementById("selectedAvatar").src = "images/avatar1.png";
    }

    function changeAvatar() {
        var select = document.getElementById("avatarSelect");
        var selectedValue = select.options[select.selectedIndex].value;


        document.getElementById("selectedAvatar").src = selectedValue;
    }
</script>
</main>

</body>
</html>