<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>Liftoff Project</title>

    <script src="https://kit.fontawesome.com/6eedae73ef.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <link th:href="@{/css/rotating-card.css}" rel="stylesheet" />
    <link th:href="@{/css/about-us.css}" rel="stylesheet" />
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" />

    <link rel="stylesheet" th:href="@{/styles.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;1,300;1,400&family=IM+Fell+DW+Pica:ital@1&family=IM+Fell+English+SC&family=IM+Fell+Great+Primer+SC&family=Pirata+One&family=Poppins:wght@300&family=Syne&display=swap" rel="stylesheet">
</head>

<body>

<header th:fragment="header">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-2">
        <div class="col-md-3 mb-md-0 ml-3">
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                <img th:src="@{/images/treasureTask-logo.jpg}" alt="Logo Image" height="75">
            </a>
        </div>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a th:if="${loggedInUser}" href="/chores" class="nav-link pl-3">Tasks</a></li>
            <li><a th:if="${loggedInUser}" href="/rewards" class="nav-link pl-3">Treasure</a></li>
            <li><a th:if="${loggedInUser}" href="/dashboard" class="nav-link pl-3">Dashboard</a></li>
            <li><a th:if="${loggedInUser}" th:unless="${childUser}" href="/crew" class="nav-link pl-3">Crew Members</a></li>
        </ul>

        <div class="col-md-3 text-end mr-3" style="text-align: right;">
            <a th:if="${loggedInUser}" href="/logout"><span class="btn btn-outline-primary me-2 login-btn">Logout</span></a>
            <a th:unless="${loggedInUser}" href="/#login"><span class="btn btn-outline-primary me-2 login-btn">Sign In</span></a>
            <a th:unless="${loggedInUser}" href="/register"><span class="btn btn-primary register-btn">Register</span></a>
        </div>
    </div>
</header>

<!-- Parent View Reward Card -->
<div th:fragment="parent-reward-card">
            <div class="card">
                <div class="card-block">
                    <h2 style="font-size: 4rem; text-align: center; margin-top: 20px;">
                        <i th:switch="${reward.category}">
                            <i th:case="activity" class="fa-light fa-bolt" style="color: #F2B705;"></i>
                            <i th:case="toy" class="fa-light fa-shapes" style="color: #F27405;"></i>
                            <i th:case="treat" class="fa-light fa-lollipop" style="color: #E3767B;"></i>
                            <i th:case="screen-time" class="fa-light fa-desktop" style="color: #39A7BF;"></i>
                            <i th:case="money" class="fa-light fa-sack-dollar" style="color: #3DD9AD;"></i>
                            <i th:case="other" class="fa-light fa-sparkles" style="color: #2B2D2F;"></i>
                        </i>
                    </h2>
                    <h3 th:text="${reward.name}" class="text-center"></h3>
                    <p th:text="${reward.description}" style="text-align: center; margin-bottom: 0;"></p>
                    <h3 class="name" th:text="${reward.points} + ' points'"></h3>
                </div>
                <a class="reward-links" style="text-align: center; margin-bottom: 20px;">
                    <form th:action="@{/rewards/edit}" method="get" class="inline-form" >
                        <input type="hidden" name="rewardId" th:value="${reward.id}"/>
                        <button type="submit" class="btn btn-primary">Edit</button>
                    </form>
                    <form th:action="@{/rewards/delete}" method="post" class="inline-form" >
                        <input type="hidden" name="rewardIds" th:value="${reward.id}"/>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </a>
            </div>
</div>

<!-- Child View Reward Card -->
<div th:fragment="reward-card" class="card-container">
    <div class="card">
        <div class="front">
            <div class="content" style="padding-top: 30px; padding-bottom: 30px;">
                <div class="main">
                    <h2 style="font-size: 4rem; text-align: center;">
                        <i th:switch="${reward.category}">
                            <i th:case="activity" class="fa-light fa-bolt" style="color: #F2B705;"></i>
                            <i th:case="toy" class="fa-light fa-shapes" style="color: #F27405;"></i>
                            <i th:case="treat" class="fa-light fa-lollipop" style="color: #E3767B;"></i>
                            <i th:case="screen-time" class="fa-light fa-desktop" style="color: #39A7BF;"></i>
                            <i th:case="money" class="fa-light fa-sack-dollar" style="color: #3DD9AD;"></i>
                            <i th:case="other" class="fa-light fa-sparkles" style="color: #2B2D2F;"></i>
                        </i>
                    </h2>
                    <h3 class="text-center" th:text="${reward.name}"></h3>
                    <h3 class="name" th:text="${reward.points} + ' points'"></h3>
                    <div style="text-align: center;" th:if="${child.points} >= ${reward.points}">
                        <!-- Redeem Reward "Form" -->
                        <form th:action="@{/rewards/redeemReward}" method="post">
                            <input type="hidden" name="rewardId" th:value="${reward.id}" />
                            <button type="submit" class="btn btn-success">Redeem Now!</button>
                        </form></div>
                    <div style="text-align: center;" th:if="${child.points} < ${reward.points}"><a class="btn btn-success disabled" th:text="${reward.points - child.points} + ' points to redeem'"></a></div>
                </div>
            </div>
        </div> <!-- end front panel -->
        <div class="back">
            <div class="content" style="padding-top: 30px; padding-bottom: 30px;">
                <div class="main">
                    <h2 style="font-size: 4rem; text-align: center;">
                        <i th:switch="${reward.category}">
                            <i th:case="activity" class="fa-light fa-bolt" style="color: #F2B705;"></i>
                            <i th:case="toy" class="fa-light fa-shapes" style="color: #F27405;"></i>
                            <i th:case="treat" class="fa-light fa-lollipop" style="color: #E3767B;"></i>
                            <i th:case="screen-time" class="fa-light fa-desktop" style="color: #39A7BF;"></i>
                            <i th:case="money" class="fa-light fa-sack-dollar" style="color: #3DD9AD;"></i>
                            <i th:case="other" class="fa-light fa-sparkles" style="color: #2B2D2F;"></i>
                        </i>
                    </h2>
                    <h3 class="text-center" th:text="${reward.name}"></h3>
                    <h3 class="name" th:text="${reward.description}"></h3>
                    <div style="text-align: center; margin-top: 10px;" th:if="${child.points} >= ${reward.points}"> <!-- Redeem Reward "Form" -->
                        <form th:action="@{/rewards/redeemReward}" method="post">
                            <input type="hidden" name="rewardId" th:value="${reward.id}" />
                            <button type="submit" class="btn btn-success">Redeem Now!</button>
                        </form></div>
                    <div style="text-align: center;" th:if="${child.points} < ${reward.points}"><a class="btn btn-success disabled" th:text="${reward.points - child.points} + ' points to redeem'"></a></div>
                </div>
            </div>
        </div> <!-- end back panel -->
    </div> <!-- end card -->
</div> <!-- end card-container -->

<!-- Child Info Card -->
<div th:fragment="child-profile-card">
    <div class="card">
        <div class="card-block">
            <div class="content" style="padding-top: 30px; padding-bottom: 30px;">
                <div class="main">
                    <div style="text-align: center; padding-bottom: 10px;"><img th:src="${child.avatar}" height="125"/></div>
                    <h3 class="text-center" th:text="${child.firstName}"></h3>
                    <h3 class="name" th:text="${child.points} + ' points'"></h3>
                </div>
            </div>
        </div>
    </div> <!-- end card -->
</div> <!-- end card-container -->

<footer class="py-3">
    <ul class="nav justify-content-center pb-3">
        <li><a href="/aboutUs" class="nav-link pl-3">About the Creators</a></li>
    </ul>
    <p class="text-center text-body-secondary mb-0" style="font-family: 'Pirata One', cursive !important; color: white !important">Copyright &copy; TreasureTask | <a href="https://www.vecteezy.com/free-vector/pirate" target="_blank">Pirate Vectors by Vecteezy</a></p>

</footer>

</body>

</html>