<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
   <meta charset="UTF-8"/>
   <title>Liftoff Project</title>

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

   <link rel="stylesheet" th:href="@{/styles.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;1,300;1,400&family=IM+Fell+DW+Pica:ital@1&family=IM+Fell+English+SC&family=IM+Fell+Great+Primer+SC&family=Pirata+One&family=Poppins:wght@300&family=Syne&display=swap" rel="stylesheet">

</head>
<body>

<header th:fragment="header">
   <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
      <ul class="nav">
          <img th:src="@{/images/treasureTask-logo.jpg}" alt="Logo Image" width="75">
         <li class="nav-item"> <a th:href="@{/}" class="nav-link">Home</a></li>
        <li class="nav-item"><a th:href="@{/about}" class="nav-link">About</a></li>
         <li class="nav-item"><a class="nav-link" href="/chores">Chores</a></li>
         <li class="nav-item"><a class="nav-link" href="/rewards">Rewards</a></li>
         <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
      </ul>
      <ul class="nav" style="float:right;">
         <li class="nav-item"><a class="nav-link" href="/logout">Log out</a></li>
      </ul>
   </nav>
</header>
<footer class="footer">
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <div class="container text-center">
            <span class="text-black"> Copyright &copy; TreasureTask </span>
        </div>
    </nav>
</footer>
</body>


</html>