<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
   <meta charset="UTF-8"/>
   <title>Liftoff Project</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

   <link rel="stylesheet" th:href="@{/styles.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;1,300;1,400&family=IM+Fell+DW+Pica:ital@1&family=IM+Fell+English+SC&family=IM+Fell+Great+Primer+SC&family=Pirata+One&family=Poppins:wght@300&family=Syne&display=swap" rel="stylesheet">
</head>

<body>

<header th:fragment="header">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-2">
            <div class="col-md-3 mb-md-0 ml-3">
                <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                    <img th:src="@{/images/treasureTask-logo.jpg}" alt="Logo Image" height="75">
                </a>
            </div>

            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a th:if="${loggedInUser}" href="/chores" class="nav-link pl-3">Chores!</a></li>
                <li><a th:if="${loggedInUser}" href="/rewards" class="nav-link pl-3">Rewards</a></li>
                <li><a th:if="${loggedInUser}" th:unless="${childUser}" href="/crew" class="nav-link pl-3">Crew Members</a></li>
            </ul>

            <div class="col-md-3 text-end mr-3" style="text-align: right;">
                <a th:if="${loggedInUser}" href="/logout"><span class="btn btn-outline-primary me-2 login-btn">Logout</span></a>
                <a th:unless="${loggedInUser}" href="/#login"><span class="btn btn-outline-primary me-2 login-btn">Sign In</span></a>
                <a th:unless="${loggedInUser}" href="/register"><span class="btn btn-primary register-btn">Register</span></a>
            </div>
        </div>
</header>

<footer class="py-3">
    <ul class="nav justify-content-center pb-3">
        <li class="nav-item"><a href="/"><img th:src="@{/images/treasureTask-logo.jpg}" alt="Logo Image" height="75"></a></li>
    </ul>
    <p class="text-center text-body-secondary mb-0" style="font-family: 'Pirata One', cursive !important; color: white !important">Copyright &copy; TreasureTask | <a href="https://www.vecteezy.com/free-vector/pirate" target="_blank">Pirate Vectors by Vecteezy</a></p>
</footer>

</body>

</html>